:root{
    --vermelho-principal:#6B0404;
    --vermelho-secundario: #EE1515;
    --faixa-preta: #000000;
    --cor-de-fundo: #FFFFFF;
    }

body{
    background-color: var(--cor-de-fundo);
    color: var(--vermelho-principal);
}


* {
  margin: 0;
  padding: 0;
}